/*======== MOBILE LAYOUT ============*/

@media screen and (max-width: 480px) {

  .container {
    width: 400px;
    margin: 0;
  }

  body {
    padding-top: 190px;
  }

  .navbar {
    width: 450px;
    height: 160px;
    margin: 0;
    background-color: #fff;
  }

  .navbar-brand img {
    padding-top: 30px;
    padding-left: 120px;
  }

  .nav-buttons {
    margin-top: 100px;
    width: 400px;
    height: 100px;
  }

  .nav-buttons img {
    height: 49px;
  }

  .main-image .thumbnail {
    width: 405px;
    height: 200px;
    margin: 0;
    padding-bottom: 25px;
  }

  img.thumbnail {
    width: 205px;
  }

  .thumbnail {
    border: 0 none;
  }

  .col-xs-6 {
    padding: 0;
  }

  footer {
    width: 400px;
    margin-bottom: 70px;
  }

  .social-icons {
    float: right;
  }

  .copy {
    float: left;
    color:
  }

  hr {
    width: 400px;
  }

  .facebook-icon {
    height: 27px;
  }
}
