<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="Janie Grout" content="">
    <title>Janie Grout</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/lightbox.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img alt="janie grout logo" src="img/jg-logo-lrg.png">
          </a>
          <!-- Navbar Buttons -->
          <div class="container">
            <div class="nav-buttons">
              <a href="/">
                <img src="img/buttons/jg-buttons-home.png">
              </a>
              <a href="/domestic_portraits">
                <img src="img/buttons/jg-buttons-domestic-portrait.png">
              </a>
              <a href="/large_paintings">
                <img src="img/buttons/jg-buttons-large-painting.png">
              </a>
              <a  href="/recent_exhibitions">
                <img src="img/buttons/jg-buttons-exhibitions.png">
              </a>
              <a href="/about">
                <img src="img/buttons/jg-buttons-about.png">
              </a>
              <a href="/contact">
                <img src="img/buttons/jg-buttons-contact.png">
              </a>
            </div>
          </div>

        </div>
      </div>
    </nav>
    <!--
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container">

      <h3>Recent Exhibitions</h3>
      <p></p>
      <br>
        <!-- Four columns below the main image -->
        <div class="container">
          <div class="row">

            <div class="col-xs-6 col-md-3">
              <a href="img/recent-exhibitions/6.5.2015.jpg" data-title="Add a caption here" data-lightbox="recent-exhibitions">
                <img class="thumbnail" src="img/recent-exhibitions/6.5.2015.jpg" alt="" width="240" height="180">
              </a>
            </div>

            <div class="col-xs-6 col-md-3">
              <a href="img/recent-exhibitions/14.4.2015.jpg" data-title="Add a caption here" data-lightbox="recent-exhibitions">
                <img class="thumbnail" src="img/recent-exhibitions/14.4.2015.jpg" alt="" width="240" height="180">
              </a>
            </div>

             <div class="col-xs-6 col-md-3">
              <a href="img/recent-exhibitions/23.10.2014.jpg" data-title="Add a caption here" data-lightbox="recent-exhibitions">
                <img class="thumbnail" src="img/recent-exhibitions/23.10.2014.jpg" alt="" width="240" height="180">
              </a>
            </div>

             <div class="col-xs-6 col-md-3">
              <a href="img/recent-exhibitions/12.12.2013.jpg" data-title="Add a caption here" data-lightbox="recent-exhibitions">
                <img class="thumbnail" src="img/recent-exhibitions/12.12.2013.jpg" alt="" width="240" height="180">
              </a>
            </div>

            <div class="col-xs-6 col-md-3">
              <a href="img/recent-exhibitions/14.3.2013.jpg" data-title="Add a caption here" data-lightbox="recent-exhibitions">
                <img class="thumbnail" src="img/recent-exhibitions/14.3.2013.jpg" alt="" width="240" height="180">
              </a>
            </div>

            <div class="col-xs-6 col-md-3">
              <a href="img/recent-exhibitions/24.12.2012.png" data-title="Add a caption here" data-lightbox="recent-exhibitions">
                <img class="thumbnail" src="img/recent-exhibitions/24.12.2012.png" alt="" width="240" height="180">
              </a>
            </div>

          </div>
        </div><!-- /.row -->
      </div>
    </div><!-- /.container -->

      <!-- FOOTER -->
   <div class="container">
      <hr>
      <footer>
        <div class="copy">
          <p>&copy; Janie Grout 2016</p>
        </div>
         <div class="social-icons">
          <a href="https://en-gb.facebook.com/"><img class="facebook-icon" alt="Facebook" src="img/social-icons/facebook-wrap.png"></a>
          <a href="https://twitter.com/?lang=en-gb"><img class="twitter-icon" alt="Twitter" src="img/social-icons/twitter-grey.png"></a>
          <a href="https://www.instagram.com/?hl=en"><img class="instagram-icon" alt="Instagram" src="img/social-icons/instagram-grey.png"></a>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <script src="js/lightbox.min.js"></script>
    <script src="js/form-validation.js"></script>

  </body>
</html>
