/*======== MOBILE LAYOUT ============*/

@media screen and (max-width: 480px) {

  .container {
    width: 380px;
    margin: 0;
  }

  body {
    padding-top: 190px;
  }

  a {
    text-decoration: none !important;
  }

  .navbar {
    height: 160px;
    background-color: #fff;
  }

  .navbar-brand img {
    position: absolute;
    left: 50%;
    margin-left: -80px !important;
    display: block;
  }

  .nav-buttons {
    margin-top: 100px;
    width: 395px;
    height: 90px;
  }

  .nav-buttons img {
    height: 40px;
    margin-right: 2px;
  }

  .main-image .thumbnail {
    width: 350px;
    height: 200px;
    margin: 0;
    padding-bottom: 25px;
  }

  img.thumbnail {
    width: 160px;
    height: 100px;
  }

  .thumbnail {
    border: 0 none;
  }

  .col-xs-6 {
    padding: 0;
  }

/********************************************
FOOTER
*********************************************/

  footer {
    margin-bottom: 70px;
  }

  .social-icons {
    float: right;
  }

  .copy {
    float: left;
    color:
  }

  hr {
    /*width: 380px;*/
  }

  .facebook-icon {
    height: 27px;
  }

  .twitter-icon {
    height: 27px;
  }

  .instagram-icon {
    height: 27px;
  }

/********************************************
CONTACT FORM
*********************************************/

  #email,
  #name,
  #message {
    background-color: #F4F4F6;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #fff;
    border-left: none;
    border-radius: 0px 0px 0px 0px;
    color: #686868;
    padding-left: 0px;
    box-shadow: none;
  }

  .contact-form {
    margin-top: 40px;
  }

  #error-message {
    position: absolute;
    display: none;
    margin-top: 5px;
    color: red;
    font-weight: 300;
  }

  #submit-button {
    background-color: #BBCAB1;
    color: #000;
    border-radius: 0;
    width: 159px;
    height: 36px;
    float: right;
    margin-top: 20px;
  }

  .btn:focus, .btn:active {
    outline: #fff solid !important;
  }

  #thank-you-button {
    background-color: #BBCAB1;
    color: #000;
    border-radius: 0;
    width: 159px;
    height: 36px;
    margin-top: 30px;
  }
}
